$font-stack: sans-serif;
$header-bg-color: #700548;
$header-fg-color: white;

body {
    font-family: $font-stack;
    padding: 0;
    margin: 0;
}

main {
    margin-top: 1em;
}

.header {
    position: sticky;
    top: 0;
    background-color: $header-bg-color;
    color: $header-fg-color;
    padding-bottom: 12px;
    padding-top: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.emphasize {
    font-weight: bold;
    font-size: x-large;
    padding-right: .5em;
}

.center {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}
